<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title>Movies</title>
</head>
<body style="background-color: #F7F7F7;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #151D3B;">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-weight: bold; padding-left: 10%; color: white;" href="/">MOVIE3</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" style="color: white;" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"style="color: white;"  href="/persons">Persons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"style="color: white;"  href="/movies/addForm">Add a Movie</a>
              </li>
            </ul>
            <form action="?q=" method="get" class="d-flex" style="padding-left: 50%;">
                <input class="form-control me-2" name="q" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>