<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item <%= pagination.prevPage ? '': 'disabled' %> "><a class="page-link" href="?page=<%= pagination.page-1 %>&q=<%= search %> ">Previous</a></li>
      <% for (let i = 0; i < 3; i++) { %> 
        <% if(pagination.page-(3-i) > 0){ %> 
        <li class="page-item"><a class="page-link" href="?page=<%= pagination.page-(3-i) %>&q=<%= search %> "><%= pagination.page-(3-i) %> </a></li>
        <% } %> 
      <% } %> 
      <li class="page-item active"><a class="page-link" href="#"><%= pagination.page %> </a></li>
      <% if (pagination.nextPage){ %> 
        <li class="page-item"><a class="page-link" href="?page=<%= pagination.page+1%>&q=<%= search %> "><%= pagination.page+1%></a></li>
      <% } %> 
      <li class="page-item <%= pagination.nextPage ? '': 'disabled' %> "><a class="page-link" href="?page=<%= pagination.page+1 %>&q=<%= search %> ">Next</a></li>
    </ul>
  </nav>