<%- include('./layouts/header.ejs') %> 
    <h2 style="color:#151D3B; text-align: center; padding: 2rem 0;">Movies <%- include('./components/filter.ejs') %> </h2>
    <div class="container">
        <div class="row" style="padding-left: 3%;">
        <% movies.forEach(function (movie){ %> 
            <div class="card" style="width: 18rem; border-radius: 10px; margin: 3px;">
                <img src="/images/Asset 1.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= movie.title %><span class="card-text" style="font-size: small; color:gray;">  (<%= movie.released %>)</span></h5>
                  <p class="card-text"><%= movie.tagline %></p>
                </div>
                <div class="card-body">
                  <a href="#" class="card-link">More</a>
                </div>
              </div>
        <% }) %> 
        <%- include('./components/pagination.ejs') %> 
        </div>
    </div>
<%- include('./layouts/footer.ejs') %> 