<%- include('./layouts/header.ejs') %> 
    <div class="container-sm" style="padding: 3rem;">
       <form method="post" action="/movies/add">
            <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" name="year" class="form-control" id="year">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form> 
    </div>
    
<%- include('./layouts/footer.ejs') %> 