<%- include('./layouts/header.ejs') %> 
    <section style="padding: 3rem 0;">
        <h2 style="color:#151D3B; text-align: center; padding: 2rem 0;">Persons <%- include('./components/filter.ejs') %></h2>
        <div class="container">
            <div class="row" style="padding-left: 3%;">
            <% persons.forEach(function (person){ %> 
                <div class="card" style="width: 18rem; border-radius: 10px; margin: 3px;">
                    <img src="/images/Asset 2.svg" style="padding: 2rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= person.name %><span class="card-text" style="font-size: small; color:gray;">  (<%= person.born %>)</span></h5>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">More</a>
                    </div>
                  </div>
            <% }) %> 
            </div>
            <%- include('./components/pagination.ejs') %> 
        </div>
    </section>
<%- include('./layouts/footer.ejs') %> 